body {
  font-family: 'Raleway', sans-serif;
  background-color: #faebd7;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #b0b0b0;
}

.header h1 {
  font-size: 50px;

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.landing-image {
  width: 100vw;
  height: 500px;
  background-size: auto auto;
  background:url("/images/landing.jpg");
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 64px;
  font-family: cursive;
}

nav {
  display: flex;
  flex-direction: row;
}

nav a {
  margin: 0 20px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-description {
  width: 50vw;
  line-height: 1.5rem;
  padding: 20px;
  text-align: justify;
}

.classes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classes-table {
  border-collapse: collapse;
}

.classes-table td, th {
  border: 1px solid black;
  padding: 20px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.cart-table {
  border-collapse: collapse;
}

.cart-table td, th {
  border: 1px solid black;
  padding: 20px;
}