body {
  font-family: 'Raleway', sans-serif;
  background-color: #faebd7;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #b0b0b0;
}

.header h1 {
  font-size: 48px;

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.landing-image {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

nav {
  display: flex;
  flex-direction: row;
}

nav a {
  margin: 0 20px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-description {
  width: 50vw;
  line-height: 1.5rem;
  padding: 20px;
}

.classes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classes-table {
  border-collapse: collapse;
}

.classes-table td, th {
  border: 1px solid black;
  padding: 20px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.cart-table {
  border-collapse: collapse;
}

.cart-table td, th {
  border: 1px solid black;
  padding: 20px;
}